#annual_totals
  <center>
  %table(cellspacing="1" )
    %tr
      %th Sleep In:
      %td #{member.sleep_in_points(:year => report.year)} points,
      %td #{member.sleep_in_hours(:year => report.year)} hours
      %td &nbsp;
      %th Standby:
      %td #{member.standby_points(:year => report.year)} points,
      %td #{member.standby_hours(:year => report.year)} hours
      %td &nbsp;
      %th Collateral Duty:
      %td #{member.collateralduty_points(:year => report.year)} points,
      %td #{member.collateralduty_hours(:year => report.year)} hours
  </center>


